<!DOCTYPE html>
<html ng-app="listaTelefonica">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Lista Telefônica</title>
    <link rel="stylesheet" type="text/css" href="bootstrap-3.4.1-dist/css/bootstrap.min.css" />
    <style>
      .jumbotron {
        width: 400px;
        text-align: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
      }
      th {
        text-align: center;
      }
      table {
        margin-top: 20px;
      }
      form-control {
        margin-bottom: 5px;
      }
      .selecionado {
        background-color: yellow;
      }
      .negrito {
        font-weight: bold;
      }
    </style>
    <script src="angular.js/angular.js"></script>
    <script>
      angular.module('listaTelefonica', []);
      angular.module('listaTelefonica').controller('listaTelefonicaCtrl', function($scope) {
        $scope.app = 'Lista Telefônica ';
        $scope.contatos = [
          { nome: 'Pedro', telefone: '99998888' },
          { nome: 'Ana', telefone: '99998877' },
          { nome: 'Maria', telefone: '99998866' }
        ];
        $scope.operadora = [
          { nome: 'Oi', codigo: 14, categoria: 'Celular' },
          { nome: 'Vivo', codigo: 15, categoria: 'Celular' },
          { nome: 'Tim', codigo: 41, categoria: 'Celular' },
          { nome: 'GVT', codigo: 251, categoria: 'Fixo' },
          { nome: 'Embratel', codigo: 21, categoria: 'Fixo' }
        ];
        $scope.AdicionarContato = function(contato) {
          $scope.contatos.push(angular.copy(contato));
          delete $scope.contato;
        };
        $scope.apagarContatos = function(contatos) {
          $scope.contatos = contatos.filter(function(contato) {
            if (!contato.selecionado) {
              return contato;
            }
          });
        };
        $scope.isContatosSelecionados = function(contatos) {
          return (isContatoSecionado = contatos.some(function(contato) {
            return contato.selecionado;
          }));
        };
      });
    </script>
  </head>
  <body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
      <h3>{{ app }}</h3>
      <table ng-if="contatos.length > 0" class="table">
        <thead>
          <tr>
            <th></th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Operadora</th>
          </tr>
        </thead>
        <tbody>
          <tr
            ng-class="{'selecionado negrito': contato.selecionado}"
            ng-repeat="contato in contatos"
          >
            <td><input type="checkbox" ng-model="contato.selecionado" /></td>
            <td>{{ contato.nome }}</td>
            <td>{{ contato.telefone }}</td>
            <td>{{ contato.operadora.nome }}</td>
          </tr>
        </tbody>
      </table>
      <input type="text" class="form-control" ng-model="contato.nome" placeholder="Nome" />
      <input
        style="margin-top:5px;"
        type="text"
        class="form-control"
        ng-model="contato.telefone"
        placeholder="Telefone"
      />
      <select
        ng-model="contato.operadora"
        class="form-control"
        style="margin-top:5px;"
        ng-options="operadora.nome group by operadora.categoria for operadora in operadora"
      >
        <option value="">Selecione uma operadora</option>
      </select>
      <button
        style="margin-top:5px;"
        type="button"
        class="btn btn-primary btn-block"
        ng-click="AdicionarContato(contato)"
        ng-disabled="!contato.nome || !contato.telefone"
      >
        Adicionar Contato
      </button>
      <button
        style="margin-top:5px;"
        type="button"
        class="btn btn-danger btn-block"
        ng-click="apagarContatos(contatos)"
        ng-show="isContatosSelecionados(contatos)"
      >
        Apagar Contatos
      </button>
    </div>
    <!-- <div ng-include="'footer.html'"></div> -->
  </body>
</html>
